# Чтобы были видны файлы репозитория, а не он сам
Dyachenko_Artem_06/cprog/lab_01/iu7-cprog-labs-2022-dyachenkoartem/.git/
Dyachenko_Artem_06/cprog/lab_02/iu7-cprog-labs-2022-dyachenkoartem/.git/
Dyachenko_Artem_06/cprog/lab_03/iu7-cprog-labs-2022-dyachenkoartem/.git/
