[submodule "Dyachenko_Artem_06/cprog/iu7-cprog-labs-2022-dyachenkoartem"]
	path = Dyachenko_Artem_06/cprog/iu7-cprog-labs-2022-dyachenkoartem
	url = https://git.iu7.bmstu.ru/iu7-cprog/iu7-cprog-labs-2022/iu7-cprog-labs-2022-dyachenkoartem.git
